
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title> 微达 </title>

<meta name="description" content="微达如此牛逼云云">
<meta name="keywords" content="微博,达到">
<meta name="title" content="微达 - 物联网的开端">
<link href="http://www.enjoygames.cn/bootstrap.min.css" rel="stylesheet">
</head>
<body>  

<div class="container">

<div class="well">

weibo xxx<br/>

{% if need_authorize %}
<a class="btn btn-primary btn-large" href="/weibo/authorize/" target="_self">获取token</a>
{% else %}
已经获得token  到期时间{{ end_time }}<a class="btn btn-primary btn-large" href="/weibo/send_weibo/" target="_blank">发微博</a>
<a class="btn btn-primary btn-large" href="/weibo/authorize/" target="_self">重新获取token</a>
{% endif %}
<a class="btn btn-primary btn-large" href="/users/logout/" target="_self">退出</a>
</div>


</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="http://www.enjoygames.cn/bootstrap.min.js"></script>
<script>

</body>
</html>
