
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title> 微达 </title>

<meta name="description" content="微达如此牛逼云云">
<meta name="keywords" content="微博,达到">
<meta name="title" content="微达 - 物联网的开端">
<link href="http://www.enjoygames.cn/bootstrap.min.css" rel="stylesheet">
</head>
<body>  

<div class="container">
<!--
<div class="alert">
</div>
-->

<div class="well">
<legend>
请您登陆微达 或者<a class="btn btn-primary btn-large" href="/users/register/" target="_self">注册</a>
</legend>

<form class="form-horizontal" id="register" action="/users/login/" method="post">
<div class="control-group" id="register_email">
<label class="control-label">邮箱地址</label>
<div class="controls">
<div class="input-prepend">
<span class="add-on"><i class="icon-envelope"></i></span>
<input ref_method="register_validate_email" type="text" name="username" autocomplete="off" value="">
</div>
<span class="help-inline"></span>
</div>
</div>


<div class="control-group" id="register_pwd">
<label class="control-label">密码</label>
<div class="controls">
<div class="input-prepend">
<span class="add-on"><i class="icon-asterisk"></i></span>
<input type="password" ref_method="register_validate_pwd" autocomplete="off" name="password" value="">
</div>
<span class="help-inline"></span>
</div>
</div>

<div class="control-group">
<div class="controls">
<button class="btn btn-primary" type="submit">登陆</button>
</div>
</div>
</form>
</div>


</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="http://www.enjoygames.cn/bootstrap.min.js"></script>


</body>
</html>
